.App {
  font-family: roboto;
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  height: 100px;
  background-color: lightcoral;
  padding-left: 10px;
  padding-right: 10px;
}